@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
::selection {
  background: #00a0dc;
  color: #fff;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #fff;
  color: #111;
  overflow-x: hidden;
  margin: 0;
  text-rendering: geometricPrecision;
}
section {
  position: relative;
}
.img-responsive {
  display: inline-block;
}
.light {
  color: #fff;
}
.smoke,
h5 small {
  color: #fff;
}
p {
  margin: 0 0 15px 0;
}
p:last-child {
  margin: 0;
}
a {
  color: #111;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
a:hover {
  color: #999;
  text-decoration: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
a:active,
a:focus {
  color: #999;
  outline: 0;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0 0 15px 0;
}
h1 {
  font-size: 48px;
  letter-spacing: -1px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h5 {
  font-family: "Droid Serif", serif;
  font-size: 19px;
  font-style: italic;
  line-height: 1.48;
  margin: 0 0 15px 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
    letter-spacing: 0;
  }
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
}
.warning-bg {
  font-size: 18px;
}
.container2 {
  background-color: #0000006b;
}
.white-bg {
  background: #fff;
}
.smoke-bg {
  background: #f5f5f5;
}
.btn,
.btn:active,
.btn:active:focus,
.btn:focus,
.btn:hover {
  background: #224e5f;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  padding: 14px 25px;
  margin: 15px 0 0 0;
  border-radius: 25px !important;
  border: 1px solid transparent;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: #008cc8;
}
.divide-xs {
  padding-top: 7px;
  padding-bottom: 8px;
}
.divide-sm {
  padding-top: 30px;
  padding-bottom: 30px;
}
.divide-md {
  padding-top: 45px;
  padding-bottom: 45px;
}
.divide-lg {
  padding-top: 60px;
  padding-bottom: 60px;
}
.divide-xl {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .divide-md {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
hr.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
hr.title-divider {
  border-width: 2px 0 0 0;
  max-width: 180px;
}
#intro {
  background-image: url(../img/intro-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 445px;
}
#clients {
  background-image: url(../img/clients-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
#works-top {
  background-image: url(../img/works-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
#team-top {
  background-image: url(../img/team-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax {
  background-attachment: fixed;
}
@media screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}
.float-content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.divya-icon-services {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
  fill: #00a0dc;
}
.divya-icon-features {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  fill: #00a0dc;
}
.divya-icon-features:after,
.divya-icon-services:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.service i {
  color: #bbbdc0;
  font-size: 48px;
}
@media (max-width: 767px) {
  .service i {
    font-size: 36px;
  }
}
.media {
  margin: 0;
}
.media-left {
  padding-right: 20px;
}
.squared {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}
.squared,
.squared-content {
  padding-left: 0;
  padding-right: 0;
}
.squared-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 991px) and (min-width: 768px) {
  .squared {
    padding-top: 133%;
  }
}
@media (max-width: 767px) {
  .squared {
    padding-top: 0;
  }
  .squared .squared-content {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
#team .thumbnail {
  background-color: transparent;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}
.mapObj {
  background: url("../img/maps/maps ms.jpg") no-repeat center center fixed;
  width: 100%;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 580px) and (max-width: 767px) {
  .mapObj {
    background: url("../img/maps/maps ms.jpg") no-repeat center center fixed;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mapObj {
    background: url("../img/maps/maps sms.jpg") no-repeat center center fixed;
  }
}
@media (max-width: 580px) {
  .mapObj {
    background: url("../img/maps/maps ss.jpg") no-repeat center center fixed;
  }
}
#contact {
  background: #fff;
}
form .btn,
form .btn:active:focus,
form .btn:focus,
form .btn:hover {
  margin-top: 30px;
}
footer a {
  display: inline-block;
  padding: 6px;
}
footer h4 {
  margin: 0;
}
.divya-icon-info {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  fill: #00a0dc;
}
.divya-icon-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-collapse {
  border-color: #f8f8f8;
}
.navbar-fixed-top {
  position: fixed;
}
.navbar-brand {
  line-height: 0;
}
.nav li:first-child {
  display: none;
}
.nav a {
  color: #111;
}
.nav a:hover {
  color: #aaa !important;
}
.nav .active a {
  color: #aaa !important;
}
.navbar li a {
  font-size: 13px;
  text-align: center;
  padding: 20px 15px !important;
}
@media (max-width: 767px) {
  .navbar li a {
    padding: 10px 15px !important;
  }
}
.navbar .active a:focus,
.navbar .active a:hover,
.navbar a {
  background-color: transparent !important;
}
.navbar-brand {
  position: relative;
  padding: 10px 15px !important;
  height: auto;
  line-height: 0;
}
.navbar-brand img:nth-child(2) {
  position: absolute;
  top: 10px;
}
@media (max-width: 1024px) {
  .navbar-brand img:nth-child(1) {
    opacity: 0 !important;
  }
  .navbar-brand img:nth-child(2) {
    opacity: 1 !important;
  }
  .navbar-default {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }
  .nav a {
    color: #111 !important;
  }
}
.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
  border: 0 solid transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #111;
  width: 30px;
  height: 2px;
  border-radius: 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
@media not all, (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-backface-visibility: initial;
    backface-visibility: initial;
  }
}
#carousel-intro .carousel-inner {
  overflow: inherit;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
  width: 10%;
  height: 10%;
  top: 45%;
  padding: 0;
  border: none;
  text-shadow: none;
  color: #111;
  z-index: 3;
}
.carousel-control.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.carousel {
  opacity: 1;
}
.carousel .item {
  position: absolute;
  display: block !important;
  width: 100%;
  top: 0;
  left: 0 !important;
  opacity: 0;
  z-index: -1;
  -moz-transition: opacity ease-in-out 0.6s;
  -o-transition: opacity ease-in-out 0.6s;
  -webkit-transition: opacity ease-in-out 0.6s;
  transition: opacity ease-in-out 0.6s;
}
.carousel .item:first-child {
  position: relative;
  top: auto;
}
.carousel .item.active {
  opacity: 1;
  z-index: 0;
  -moz-transition: opacity ease-in-out 0.4s;
  -o-transition: opacity ease-in-out 0.4s;
  -webkit-transition: opacity ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 70px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #aaa;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@keyframes bouncedelay {
  0%,
  100%,
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
